# ======================
# LakeFlow DATA LAKE CONFIG
# ======================
LAKEFLOW_DATA_PATH=/Users/mac/Library/CloudStorage/SynologyDrive-education
QDRANT_PORT=6333

# Dùng docker
LAKEFLOW_DATA_BASE_PATH=/data
QDRANT_HOST=qdrant
API_BASE_URL=http://lakeflow-backend:8011
# Mô tả mount (hiển thị trong System Settings): vd. "Volume lakeflow_data bind từ /datalake/research"
#LAKEFLOW_MOUNT_DESCRIPTION=Volume lakeflow_data bind từ /datalake/research


# Không dùng docker
#LAKEFLOW_DATA_BASE_PATH=/Users/mac/Library/CloudStorage/SynologyDrive-education
#QDRANT_HOST=localhost
#API_BASE_URL=http://localhost:8011


